---
import { Image } from 'astro:assets';
const { lsrc, lalt, rsrc, reverse, caption, customClass } = Astro.props;
---

<div class={'columns-1 \
md:columns-2 \
max-w-5xl \
mx-auto \
doubleImage \
mt-6 \
2xl:max-w-[1340px] \
2xl:mt-10' + customClass}>
    {reverse ? (
        <>
            <video width="auto" playsinline autoplay muted loop no-controls preload="auto" class="!col-start-2 !col-end-3 rounded-md lg:rounded-xl mt-4 md:mt-0 not-prose" src={rsrc}>
            </video>

            <Image
                src={lsrc}
                alt={lalt}
                loading="lazy"
                format="webp"
                class="col-start-1 col-end-2 rounded-md lg:rounded-xl not-prose"
            />
        </>
    ) : (
        <>
            <Image
                src={lsrc}
                alt={lalt}
                format="webp"
                class="col-start-1 col-end-2 rounded-md lg:rounded-xl not-prose"
            />

            <video width="auto" playsinline autoplay muted loop no-controls preload="auto" class="!col-start-2 !col-end-3 rounded-md lg:rounded-xl mt-4 md:mt-0 not-prose" src={rsrc}>
            </video>
        </>
    )}
</div>
<figcaption class="mx-auto max-w-[640px] 2xl:max-w-[768px]">
    {caption}
</figcaption>