---
import Header from "../components/Header.astro";
import { ViewTransitions } from 'astro:transitions';
import '../fonts.css';

interface Props {
	title: string;
	description?: string;
	image?: string;
}

const { title, description = "Designs for user delight and company profit", image = "https://mayhopar.com/cover.jpg" } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>{title}</title>
		<meta name="description" content={description} />
		<meta name="keywords" content="design, ui, ux, b2b, b2c, saas">
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.jpg" />
		<meta name="generator" content={Astro.generator} />
		<meta property="og:image" content={image} />
		<meta property="og:image:type" content="image/jpeg" />
		<meta property="og:image:width" content="1200" />
		<meta property="og:image:height" content="630" />
		<meta property="og:image:alt" content="A website cover" />
		<meta name="twitter:site" content="@haiku4real" />
		<meta name="twitter:title" content={title} />
		<meta name="twitter:description" content={description} />
		<meta name="twitter:image" content={image} />
		<ViewTransitions />
		<script defer data-domain="mayhopar.com" src="https://plausible.io/js/script.js"></script>
	</head>
	<body class="font-['SuisseIntl']">
		<Header />
		<slot />
	</body>
</html>
